body {
  background-color: rgb(21, 175, 106);
}

button,
input {
  box-shadow: 10px 5px 5px black;
}
button:hover {
  background-color: aqua;
}

.card {
  width: 10%;
  font-weight: bold;
  font-size: 3rem;
}
.card-footer {
  color: red !important;
  transform: rotate(180deg);
}
